<div class="layout">
  <header class="header">
    <div class="logo"  routerLink="../welcome">
      <img src="logo_rond.png"/>
      <span>Volley Team Optimizer</span>
    </div>
    
    <nav class="nav">
      <a
        class="nav-tab"
        routerLink="players-data"
        routerLinkActive="nav-tab--active"
      >Joueurs</a>
      <a
        class="nav-tab"
        routerLink="solver"
        routerLinkActive="nav-tab--active"
      >Solveurs</a>
    </nav>
  </header>

  <main class="content">
    <router-outlet />
  </main>
</div>
